! General
!urxvt*termName: 	rxvt-256color
URxvt*loginShell: 	true
URxvt*scrollBar: 	true
URxvt*secondaryScroll:	true
URxvt*saveLines:	65535
URxvt*cursorBlink: 	false
URxvt*urgentOnBell: 	true
urxvt*borderLess: 	false

URxvt.font: xft:Hack:pixelsize=20
URxvt.loginShell: true
URxvt.savelines: 65535
URxvt.scrollBar_right: true
URxvt.scrollColor: #002222
URxvt.scrollstyle: plain

*background: #003333
*foreground: #5ab0ac

*color0: #000000
*color1: #8d3c53
*color2: #b8c3e1
*color3: #8d763c
*color4: #3c538d
*color5: #763c8d
*color6: #3c8d76
*color7: #a1a1a1
*color8: #0e0e0e
*color9: #e1b8c3
*color10: #c3e1b8
*color11: #e1d5b8
*color12: #b8c3e1
*color13: #d5b8e1
*color14: #b8e1d5
*color15: #ffffff
